on:
  workflow_dispatch:
  push:
    branches: main
    paths:
      - 'Accessibility/**'
      - '.github/workflows/check_main.yml'

name: Check if Accessibility/main.R is running correctly

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      #actions: write
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install ubuntu dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: >- 
                    gdal-bin libgdal-dev libgeos-dev libproj-dev 
                    libudunits2-dev libsqlite3-dev libcurl4-openssl-dev
                    libxml2-dev make g++ cmake libglpk-dev 
          version: 1

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          Ncpus: '4'

      - name: Install R dependency
        uses: r-lib/actions/setup-renv@v2
        with:
          working-directory: 'Accessibility/'
          cache-version: 2

      - name: run main.R
        run: Rscript --verbose ./Accessibility/main.R
